#footer{
    padding-bottom: 40px;
}

footer :global(.container){
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.footerRow1{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footerText{
    width: 60%;
}

.footerText h2{
    text-transform: none !important;
}

.footerText h2:nth-child(1){
    color: var(--gray);
}

.footerLinks{
    display: flex;
    width:22%;
    justify-content: space-between;
}

.footerLinks div{
    width: fit-content;
}

.footerLinks div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.footerLinks div ul li a{
    font-size: 20px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    position: relative;
}

.footerLinks div ul li a::before,
.contact_link::before{
    position: absolute;
    content: '';
    right: 0;
    bottom: -2px;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: 0.3s all;
}

.footerLinks div ul li a:hover::before,
.contact_link:hover::before{
    width: 100%;
    left: 0;
}

.footerRow2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer_logo{
    width: 33.33%;
}

.footerRow2 .info{
    margin-right: 150px;
}


.footerRow2 .info ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    list-style: none;
}

.footerRow2 .info ul a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    transition: 0.3s all;
    display: block;
}

.footerRow2 .info ul li:hover a{
    opacity: 1 !important;
    transform: translateX(3px);
}

.footerRow2 .info ul li:nth-child(3){
    margin-top: 16px;
}

.footerRow2 .info ul li:nth-child(3) a,
.footerRow2 .info ul li:nth-child(4) a{
    opacity: 0.5;
}


.contact_link{
    cursor: pointer;
    transition: 0.3s all ;
    width: fit-content;
    position: relative;
}


   /* responsive */

   /* laptop */

@media (max-width:1530px) {
    .footerRow2 .info{
    margin-right: 0px;
}
}


   /* tablet */
   @media (max-width:1200px){

    .footerRow1{
    width: 100%;
    flex-direction: column;
    gap: 50px;
}
.footerLinks {
    width: 100%;
    justify-content: flex-start;
    gap: 40px;
}

.footerRow2 {
   flex-direction: column;
   align-items: flex-start;
   gap: 40px;
}

#footer .container{
    gap: 50px;
}




   }


   @media (max-width:767px){

    .footerText{
    width: 100%;
}

     .footerRow1,
     .footerRow2{
        gap: 30px;
     }

     footer .container{
        gap: 50px;
     }

     .footerLinks div ul li a{
        font-size: 16px;
        line-height: 24px;
     }


     footer :global(.container){
        gap: 50px;
     }

   }