#footer{
    padding-bottom: 40px;
}

footer :global(.container){
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.footerRow1{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
}

.footerText{
    width: 60%;
}

.footerText h2{
    text-transform: none !important;
}

.footerText h2:nth-child(1){
    color: var(--gray);
}

.footerLinks{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.footerLinks div{
    width: fit-content;
}

.footerLinks div ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.footerLinks div ul li a{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    color: white;
    text-decoration: none;
}

.footerRow2{
    display: flex;
    align-items: flex-end;
}

.footer_logo,
.footer_bottom_links,
.footer_contact{
    width: 33.33%;
}

.footer_contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;
}

.footer_contact div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.footer_contact div.address{
    width: 90%;
}

.footer_contact div span,
.footer_contact div p{
    font-size: 20px;
    line-height: 28px;
}

.footer_contact div>
span{
    text-transform: uppercase;
}

   /* responsive */

   /* tablet */
   @media (max-width:1200px){

    .footerRow1{
    width: 100%;
    flex-direction: column;
    gap: 50px;
}
.footerLinks {
    width: 100%;
    justify-content: flex-start;
    gap: 40px;
}

.footerRow2 {
   flex-direction: column;
   align-items: flex-start;
   gap: 40px;
}

#footer .container{
    gap: 50px;
}

.footer_contact div,
.footer_contact div.address{
    width: 100%;
}

.footer_logo,
.footer_bottom_links,
.footer_contact,
.footerText{
    width:100%;
    max-width: 550px;
}


   }


   @media (max-width:767px){

     .footerRow1,
     .footerRow2{
        gap: 30px;
     }

     footer .container{
        gap: 50px;
     }

     .footerLinks div ul li a,
     .footer_contact div span,
.footer_contact div p{
        font-size: 16px;
        line-height: 24px;
     }

     .footer_contact{
        gap: 24px;
     }

     .footer_contact div{
        gap: 8px;
     }

     footer :global(.container){
        gap: 50px;
     }

   }