*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

:root{
  --pageBgColor:#0E0E0E;
  --beigeColor:#FFF6E8;
  --gray:#646464;
}

body{
  background-color: var(--pageBgColor);
  background-image: url('/images/page_bg.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat-y;
  font-family: var(--font-helvetica-neue);
  color: white;
  position: relative;
}

.noise-bg, .noise-bg:before {
    position: fixed;
    pointer-events: none;
}

.noise-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999;
}

.noise-bg::before{
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    background-image: url("/images/noise.png");
    opacity: .85;
-webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
}
10% {
    transform: translate3d(-1rem, -4rem, 0);
}
20% {
    transform: translate3d(-8rem, 2rem, 0);
}
30% {
    transform: translate3d(9rem, -9rem, 0);
}
40% {
    transform: translate3d(-2rem, 7rem, 0);
}
50% {
    transform: translate3d(-9rem, -4rem, 0);
}
60% {
    transform: translate3d(2rem, 6rem, 0);
}
70% {
    transform: translate3d(7rem, -8rem, 0);
}
80% {
    transform: translate3d(-9rem, 1rem, 0);
}
90% {
    transform: translate3d(6rem, -5rem, 0);
}
100% {
    transform: translate3d(-7rem, 0, 0);
}
}


.small_text{
  font-size: 16px;
  line-height: 24px;
}

p{
  font-size: 32px;
  line-height: 40px;
}

.stroke_text{
   color: transparent !important;
  -webkit-text-stroke: 2px white;

}

.container{
  width: 100%;
  max-width: 1530px;
  margin: auto;
}

.common_section .container{
  border-bottom: solid #646464 2px;
  padding: 120px 0;
}

.link{
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: none;
}

.common_heading{
    font-size: 64px;
  line-height: 72px;
  color: white;
  font-weight: 400;
}

.common_heading:not(.xl){
 text-transform: uppercase;
}

.common_heading.xl{
  font-size: 80px;
  line-height: 88px;
}

.common_btn{
  text-decoration: none;
  color: white;
  display: flex;
  gap: 12px;
  position: relative;
  transition: 0.3s all;
  text-transform: uppercase;
  width: fit-content;
  align-items: center;
  background: none ;
  border: none;
  cursor: pointer;
  font-family: var(--font-helvetica-neue);
  font-size: 20px;
  line-height: 28px;
}

.common_btn::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  right: 0;
  background-color: white;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}

.common_btn:hover{
  transform: translateX(4px);
  left: 0;
}

.common_btn:hover::before{
  width: 100%;
  left: 0;
}

.page_transition {
  position: fixed;
  inset: 0;
  z-index: 99999;
  pointer-events: none;
}

.page_transition svg {
  width: 100%;
  height: 100%;
}


header.show{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translateY(-86px);
    animation: showHeader 0.3s ease-in-out forwards;
}

@keyframes showHeader {
  100% {
    transform: translateY(0);
  }
}

body:has(header.show){
  padding-top: 86px;
}

/* responsive */

   /* laptop */
   
@media (max-width:1530px) {
  .container{
  padding: 0 20px;
}
.common_section .container{
  padding: 80px 20px;
}

.common_heading.xl {
    font-size: 60px;
    line-height: 68px;
}

.common_heading {
    font-size: 44px;
    line-height: 52px;
}

.small_text{
  font-size: 14px;
  line-height: 22px;
}

p{
  font-size: 24px;
  line-height: 32px;
}

}


   /* tablet */

   @media (max-width:1200px) {
    .common_btn{
      font-size: 16px;
      line-height: 22px;
    }

    .desktop_break{
      display: none;
    }
        .common_section .container {
        padding: 50px 20px;
    }

    .common_heading.xl {
    font-size: 50px;
    line-height: 58px;
}

.common_heading {
    font-size: 34px;
    line-height: 42px;
}


p{
  font-size: 20px;
  line-height: 28px;
}

   }

   /* mobile  */

   @media (max-width:767px){

    
    .common_heading.xl {
    font-size: 40px;
    line-height: 48px;
}

.common_heading {
    font-size: 28px;
    line-height: 33px;
}

   }