*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pageBgColor:#0E0E0E;
  --beigeColor:#FFF6E8;
  --gray:#646464;
}

body{
  background-color: var(--pageBgColor);
  background-image: url('/images/page_bg.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat-y;
  font-family: var(--font-helvetica-neue);
  color: white;
}

.small_text{
  font-size: 16px;
  line-height: 24px;
}

p{
  font-size: 32px;
  line-height: 40px;
}

.container{
  width: 100%;
  max-width: 1530px;
  margin: auto;
}

.common_section .container{
  border-bottom: solid #646464 2px;
  padding: 120px 0;
}

.link{
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: none;
}

.common_heading{
    font-size: 64px;
  line-height: 72px;
  color: white;
  font-weight: 400;
}

.common_heading:not(.xl){
 text-transform: uppercase;
}

.common_heading.xl{
  font-size: 80px;
  line-height: 88px;
}

.common_btn{
  text-decoration: none;
  color: white;
  display: flex;
  gap: 12px;
  position: relative;
  transition: 0.3s all;
  text-transform: uppercase;
  width: fit-content;
  align-items: center;
}

.common_btn::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  background-color: white;
  bottom: -2px;
  transition: 0.3s all;
}

.common_btn:hover{
  transform: translateX(4px);
}

.common_btn:hover::before{
  width: 100%;
}


/* responsive */

   /* laptop */
   
@media (max-width:1530px) {
  .container{
  padding: 0 20px;
}
.common_section .container{
  padding: 80px 20px;
}

.common_heading.xl {
    font-size: 60px;
    line-height: 68px;
}

.common_heading {
    font-size: 44px;
    line-height: 52px;
}

.small_text{
  font-size: 14px;
  line-height: 22px;
}

p{
  font-size: 24px;
  line-height: 32px;
}

}


   /* tablet */

   @media (max-width:1200px) {
        .common_section .container {
        padding: 50px 20px;
    }

    .common_heading.xl {
    font-size: 50px;
    line-height: 58px;
}

.common_heading {
    font-size: 34px;
    line-height: 42px;
}


p{
  font-size: 20px;
  line-height: 28px;
}

   }