.hero_section {
  padding: 100px 0;
}
.hero_container{
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
  gap: 30px;
}

.hero_section .norml_text{
  font-family: var(--font-djingo);
  font-size: 700px;
  line-height: 700px;
  color: var(--beigeColor);
  font-weight: 300;
  height: 535px;
    overflow: hidden;
}

.hero_section p{
  color: white;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 400;
  width: 85%;
}

.scroll_arrow{
  display: flex;
  justify-content: center;
  animation: scroll_arrow 1s infinite alternate linear;
  cursor: pointer;
}

@keyframes scroll_arrow {
  to{
    transform: translateY(-15px);
  }
}


.reels_video {
  position: relative;
  cursor: default;
  overflow: hidden; /* keeps button clipped inside */
}

.reels_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reels_video button,
.clients_section button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  background-color: var(--beigeColor);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 4px;
  cursor: none;
  pointer-events: none;
  will-change: left, top;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border: none;
  outline: none;
}

.reels_content_area{
  width: 80%;
  margin: 100px auto 0 auto;
}

.reels_content_area .content{
display: flex;
flex-direction: column;
gap: 32px;
}

.reels_content_area .content{
  width: 52%;
}

.reels_content_area .content div{
  color: white;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.reels_content_area .content p{
  color: #646464;
  font-size: 32px;
  line-height: 40px;
}

.reels_content_area .content .buttons{
display: flex;
gap: 40px;
}

.growing_section{
  max-width: 100vw;
  overflow: hidden;
}

.growing_section .growing_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.growing_section .growing_container p{
  width: 107px;
}

.clients_section{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: 120px;
  position: relative;
  cursor: default;
  user-select: none;

}

.clients{
  display: flex;
  gap: 80px;
   will-change: transform;
   justify-content: center;
   max-width: 100%;
}

.clients_section button{
  opacity: 0;
}